header {
  .main-heading {
    font-size: 2rem;
  }
}

.container {
  max-width: 940px;
  margin: auto;
}

.banner h2 {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

.banner h3 {
  font-size: 1.75rem;
  color: lighten(#000, 40);
}

