.container {
  padding: 0.5rem 0;
}

.top-main-link-button {
  font-size: 1.15rem;
}

@for $i from 2 through 4 {
  .col-#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}

.banner {
  h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.15rem;
    color: lighten(#000, 40);
  }
}

nav ul {
  & .nav-elm:first-child {
    display: block;
  }
  & .nav-elm {
    display: none;
  }
}

.responsive {
  display: block !important;

  nav ul.navbar {
    display: block;

    li {
      text-align: center;
      display: block;
    }
  }
}

.newsletter {
  .col-2 {
    grid-template-columns: repeat(1, 1fr);

    & .col:last-child {
      margin: 0;
    }
  }
}

.bottom-links .col-4 {
  grid-template-columns: repeat(2, 1fr);

  & > * {
    margin: 1rem;
  }
}