@import "variables";
@import "mixins";
@import "normalize";

/*Google Font*/
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Source+Code+Pro|Source+Sans+Pro|Source+Serif+Pro|Tangerine&display=swap');

/* Regular Styles */
html {
  font-size: 18px;
}

body {
  font-family: $san-serif;
}

/* Universal Styling */
@for $i from 1 through 6 {
  h#{$i} {
    font-family: $serif;
  }
}

main {
  margin-top: 5rem;
  padding: 0;

  .link-btn {
    background: darken(#87c7f6, 10);
    display: block;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    border: 3px solid darken(#87c7f6, 10);
    transition: 0.2s;

    &:hover {
      background: white;
      /*color: darken(#87c7f6, 10);*/
    }
  }
}

header {
  box-shadow: 0 0 4px;

  &.fixed-top {
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3rem;

    .navbar {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      padding: 0 0.3rem;
      margin: 0;

      li {
        a {
          padding: 0.75rem 1rem;
          display: block;
          text-decoration: none;
          color: gray;
          transition: 0.2s;

          &:hover {
            background: gray;
            color: white;
          }

          &.active {
            background: lighten(lightgrey, 10);

            &:hover {
              background: lighten(lightgrey, 10);
              color: gray;
            }
          }
        }
      }
    }
  }

  .main-heading {
    font-family: $logo-family;
    font-weight: 300;
    text-shadow: 0 0 5px #222;
    margin: 0;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.check-style {
  list-style-type: none;
  padding-left: 0;
}

.list-with-room li {
  margin-bottom: 0.5rem;
  line-height: 1.75rem;
}

.list-icon-spacer {
  margin-right: 0.5rem;
}

.newsletter, .bottom-links {
  background: black;
  color: white;
  padding: $default-filler-padding;

  p {
    line-height: 1.5rem;
  }

  h2 {
    margin-bottom: 0;
  }
}

.bottom-links {
  a {
    color: white;
    text-decoration: none;
    line-height: 1.5rem;
  }

  ul {
    padding: 0;
  }

  h4 {
    font-family: $san-serif;
  }
}

/*form styles*/

.input-group {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.25rem;

    .required-icon {
      color: darkred;
      vertical-align: super;
      font-size: 0.5rem;
    }
  }

  input[type="text"], input[type="email"], input[type="tel"], textarea {
    display: block;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;

    &.main-input {
      border: 1px solid #000;
    }
  }

  button {
    &.btn {
      cursor: pointer;
      font-size: 1rem;
      padding: 1rem;
      border: none;
      border-radius: 5px;
      font-weight: bold;
    }

    &.submit-btn {
      background: #23a455;
      color: white;
      border: 3px solid #23a455;
      transition: 0.3s;

      &:hover {
        background: white;
        color: #23a455;
      }
    }

    &.large {
      font-size: 1.5rem;
    }

    &.block {
      display: block;
      width: 100%;
    }
  }
}

.bolded {
  font-weight: bold;
}

.large-paragraph {
  font-size: 1.15rem;
}

@for $i from 2 through 4 {
  .col-#{$i} {
    display: grid;
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}

img {
  max-width: 100%;
}

.col {
  padding: 0;
  margin: 1rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
  background: #fecc86;
  background: linear-gradient(
                  rgba(#fecc86, 0.85),
                  rgba(#fecc86, 0.85)
  ),
  url("../image/temple-banner-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.image-shadow {
  box-shadow: 0 0 10px #000;
}

.top-main-link-button {
  background: black;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border: 3px solid #000;
  transition: 0.2s;

  &:hover {
    background: white;
    color: black;
  }
}

.under-banner {
  font-size: 1.14rem;
  h2 {
    margin: 0;
  }

  .stats {
    background: #87c7f6;
    padding: 0.5rem;
    box-shadow: 0 0 10px;
    border-radius: 5px;

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.centered-heading {
  text-align: center;
}

.picture-caption {
  font-size: 0.75rem;
  text-align: center;
}

.separated-card {
  background: #435e1d;
  color: whitesmoke;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &.shadowed-card {
    box-shadow: 0 0 7px #000;
  }
}

.no-bullet {
  list-style-type: none;

  .spacer {
    margin-right: 0.5rem;
  }
}


.wide-container {
  margin: 0 3rem;
}

/*Temple Specific Styles*/
.temple-info {
  & > :not(:last-child) {
    border-bottom: 1px solid #777;
  }

  .address {
    margin-bottom: 1rem;
    p {
      line-height: 0;
      font-style: italic;
    }
  }

  .phone {
    &:before {
      font-weight: bold;
      content: "Phone: ";
    }
  }

  .email {
    &:before {
      font-weight: bold;
      content: "Email Address: ";
    }
  }

  .openClose {
    &:before {
      font-weight: bold;
      content: "Regular Schedule: ";
    }
  }

  h4 {
    margin-bottom: 0;
  }

  .sessionSchedule, .closureSchedule {
    p {
      margin: 0;
    }
  }
}

nav ul {
  & .nav-elm:first-child {
    display: none;
  }
}

@for $i from 1 through 6 {
  h#{$i}.large {
    font-size: 3rem;
  }
}

footer {
  padding: 0.3rem 0;
  background: darken(#111, 2);
  color: #4d4d4d;
}

/* Large Styles */
@media (min-width: 940px) {
  @import "large";
}

/* Medium Styles */
@media (max-width: 1249px) {
  @import "medium";
}

/* Small Styles */
@media (max-width: 540px) {
  @import "small";
}

