@import "variables";
@import "mixins";
@import "normalize";

/*Google Font*/
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Source+Code+Pro|Source+Sans+Pro|Source+Serif+Pro|Tangerine&display=swap');

/* Regular Styles */
html {
  font-size: 18px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Universal Styling */
@for $i from 1 through 6 {
  h#{$i}{
    font-family: 'Source Serif Pro', sans-serif;
  }
}

header {
  box-shadow: 0 0 2px;

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3rem;

      .navbar {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        padding: 0 0.3rem;
        margin: 0;

        li {
          a {
            padding: 0.75rem 1rem;
            display: block;
            text-decoration: none;
            color: gray;
            transition: 0.2s;
            &:hover {
              background: gray;
              color: white;
            }

            &.active {
              background: lighten(lightgrey, 10);
              &:hover {
                background: lighten(lightgrey, 10);
                color: gray;
              }
            }
          }
        }
      }
  }

  .main-heading {
    font-family: 'Tangerine', cursive;
    font-weight: 300;
    text-shadow: 0 0 5px #222;
    margin: 0;
  }
}

@for $i from 2 through 4 {
  .col-#{$i} {
    display: grid;
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}

img {
  max-width: 100%;
}

.col {
  padding: 1rem;
  // border: solid 1px red;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
  background: #fecc86;
  background: linear-gradient(
                  rgba(#fecc86, 0.85),
                  rgba(#fecc86, 0.85)
  ),
          url("../image/temple-banner-background.jpg");
  background-size: cover;
  background-position: center;
}

.image-shadow {
  box-shadow: 0 0 10px #000;
}

.top-main-link-button {
  background: black;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border: 3px solid #000;
  transition: 0.2s;

  &:hover {
    background: white;
    color: black;
  }
}

.under-banner {
  padding-top: 3rem;
  font-size: 1.14rem;
}

.centered-heading {
  text-align: center;
}

@for $i from 1 through 6 {
  h#{$i}.large {
    font-size: 3rem;
  }
}

footer {
  box-shadow: 0 0 2px;
  padding: 0.3rem 0;
}

/* Large Styles */
@media (min-width: 940px) {
  @import "large";
}

/* Medium Styles */
@media (max-width: 1249px) {
  @import "medium";
}

/* Small Styles */
@media (max-width: 899px)  {
  @import "small";
}

