header, header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5625rem;
    color: white;
    background: #14D010;
    text-align: center;
}

header {
    padding: 10px;
}

header h2 {
    color: #404040;
    font-style: italic;
}

header h1, header h2 {
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-navigation, .primary-navigation a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    padding: 5px;
    background: #1F9496;
}

.primary-navigation ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.primary-navigation li {
    list-style-type: none;
    padding: 0 10px;
}

footer, footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9375rem;
    color: white;
    background: #168CA5;
    padding: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > * {
    width: 900px;
    max-width: 100%;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color: #14D010;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color: #1F9496;
    text-align: center;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 0.9375rem;
    color: #168CA5;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8750rem;
    color: #404040;
}

a {
    color: #F7552B;
}

.site-logo, #siteHeader {
    display: inline-block;
}

.site-header {
    width: 900px;
    max-width: 100%;
}

.container {
    width: 900px;
    max-width: 100%;
    margin: auto;
}

.window {
    background: #404040;
    color: white;
}