html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    min-height: calc(100vh - 108px);
}

.dark-header h1, .dark-header h2 {
    color: white;
    font-size: 2em;
}

.dark-header h2 a {
    color: white;
    text-decoration: none;
}

.dark-header .header-container, .dark-footer .dark-footer-container , .light-main .light-main-container {
    width: 900px;
    max-width: 100%;
    margin: auto;
}

.dark-footer, .dark-header {
    background: #343434;
    margin: 0;
    padding: 10px;
}

.profile {
    float: right;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    max-width: 100%;
}

.dark-footer {
    min-height: 50px;
    color: #ccc;
}

.dark-footer-container a {
    color: #888888
}

.light-main {
    font-size: 1.6rem;
    width: 900px;
    max-width: 100%;
    margin: auto
}

#assignmentList {
    border-top: #343434 solid 1px;
}

.light-main-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px auto !important;
    border-radius: 5px;
    max-width: 100%;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.breadcrumbs {
    font-size: 1rem;
}

.light-main a {
    color: darkred;
}

img {
    max-width: 100%;
}

.mobile-snapshot {
    max-width: 300px;
    border: 1px solid #000;
}

.inline-heading {
    font-weight: bold;
}

.notice {
    color: #B22222;
    font-size: 1.2rem;
    background: #eed0d0;
    padding: 5px;
    border-radius: 5px;
}

.float-right {
    float: right;
}

.profile-img {
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.full-table {
    width: 100%;
}

table.bordered {
    border-collapse: collapse;
    border: 1px solid #000;
    table-layout: fixed;
}

table.bordered td {
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
}

table.bordered td.first {
    text-align: left;
}

.subnav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    background: #cccccc;
    padding: 10px;
}

.subnav li {
    margin: 0 5px;
}

.active a{
    color: #F7552B;
}